<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

 <key>com.tencent.rdm.uuid</key>
<string>5a3d3f01-6992-49cf-9776-9b59b83d8539</string>
    <key>CFBundleName</key>
    <string>OpenCV</string>
    <key>CFBundleIdentifier</key>
    <string>org.opencv</string>
    <key>CFBundleVersion</key>
    <string>2.4.9</string>
    <key>CFBundleShortVersionString</key>
    <string>2.4.9</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
</dict>
</plist>
